*{
  margin: 0;
padding: 0;  
}
.app{
  display: flex;
  min-height: 100%;
  flex-direction: column;

}
/* main{
  flex: 1;
 } */
.appbar{ 
  padding:0 30px;
}
.navbar-fixed{
  background-color: teal;
  height: 8;
}

.nav-wrapper a{

  text-decoration: none;
  color: white;
  display: flex;
  font-size: 30px;
  padding-top: 50px;
  font-weight: 700px;
}

footer{
  background-color: teal;
  height: 80px;
}
main{
  height:80vh;
}
.footer-copyright{
  display: flex;
  color: aqua;
  justify-content: space-evenly;
  font-weight: 700;
  font-size: 30px;
  margin-top: 10px;
}
.footer-copyright a{
  text-decoration: none;
  color: aqua;
}
form{
  border: 1px solid grey;
  max-width: 700px;
  margin: 20px auto;
  border-radius: 5px;
  /*height: 40vh;*/
}

form input{
  height: 40px;
}